{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "linebreak-style": 0,
    "eol-last": 0,
    "no-trailing-spaces": 0,
    "object-curly-spacing": 0,
    "quotes": 0,
    "operator-linebreak": "off",
  },
  "extends": [
    "eslint:recommended", "google"
  ]
}